{% extends "header.html" %}

{% load static %}

{% block page_content %}
<span vocab="http://schema.org/" typeof="Person">
    <h1>Authors</h1>
    <div class="row">
        <a href="{% url 'create_author' %}" type="button" class="btn btn-success">Register Author</a>
    </div>
    <div class="row">
    {% for author in authors %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <span property="givenName">
                        <h4 class="card-title">First Name: {{ author.first_name }}</h4>
                    </span>
                    <span property="familyName">
                        <h5 class="card-text">Last Name: {{ author.last_name }}</h5>
                    </span>
                    <span property="birthDate">
                        <h6 class="card-text">Birth Date: {{ author.birth_date}}</h6>
                    </span>
                    <a href="{% url 'update_author' author.first_name %}" type="button" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_author' author.first_name %}" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</span>
{% endblock %}
