{% extends "base.html" %}

{% block headers %}

	{% if not user.is_authenticated %}
		<div class="container-fluid bg-primary text-white">
			<div class="row" style="padding:5px">
				<div class="col-lg-10">
					<h3>BookList</h3>
				</div>
				<div class="col-lg-1" >
					<a href="{% url 'signup' %}" type="button" class="btn btn-outline-light">Signup</a>
				</div>
				<div class="col-lg-1" >
				<a href="{% url 'login' %}" type="button" class="btn btn-outline-light">Login</a>
				</div>
			</div>
		</div>
	{% endif %}

	{% if user.is_authenticated %}
		<div class="container-fluid bg-primary text-white">
			<div class="row" style="padding:5px">
				<div class="col-md-11">
					<h3>BookList</h3>
				</div>
				<div class="col-md-1" >
					<div class="btn-group dropleft">
								<button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								User
							</button>
					 	<div class="dropdown-menu">
							<a href="{% url 'mylists' %}" class="dropdown-item" href="#">My Lists</a>
							<a href="{% url 'authors' %}" class="dropdown-item" href="#">Authors</a>
							<a href="{% url 'books' %}" class="dropdown-item" href="#">Books</a>
							<a href="{% url 'account' %}" class="dropdown-item" href="#">Account</a>
							<div class="dropdown-divider"></div>
							<a href="{% url 'logout' %}" class="dropdown-item" href="#">Logout</a>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
