{% extends "header.html" %}

{% load static %}

{% block page_content %}
<a href="{% url 'create_book' %}" type="button"> Add Book</a>
<h1>Listed Books</h1>
<div class="row">
{% for book in books %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">ISBN: {{ book.ISBN }}</h5>
                <h5 class="card-title">Title: {{ book.title }}</h5>
                <p class="card-text">Release Date: {{ book.release_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
